.tabs {
  gap: 0.75rem 0;
}

.tab {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
}

.tab:has(.tab-actor:checked) {
  background-color: #0072b5;
  color: white;
}

@media screen and (max-width: 480px) {
  .tabs {
    gap: 0;
    height: 100%;
  }

  .tab-panel {
    display: block;
    flex: 0;
    max-width: 100%;
    overflow-y: auto;
    transition: 300ms flex;
  }

  .tab:has(.tab-actor:checked) + .tab-panel {
    flex: 1;
  }
}
