.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.tab {
  order: 1;
}

.tab-panel {
  display: none;
  order: 10;
  min-width: 100%;
  flex: 1;
}

.tab:has(.tab-actor:checked) + .tab-panel {
  display: initial;
}

@media screen and (max-width: 480px) {
  :is(.tab, .tab-panel) {
    order: initial;
  }

  .tabs {
    flex-direction: column;
  }

  .tab {
    width: 100%;
  }
}
